{{> layout}}

<h1 class="text-2xl font-bold">Liste des Stades</h1>
<ul>
  {{#stades}}
    <li>
      <strong>{{name}}</strong> - {{location}}
      <form action="/reserve" method="POST" class="inline">
        <input type="hidden" name="stade_id" value="{{id}}">
        <input type="date" name="date" required>
        <input type="time" name="time" required>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2">Réserver</button>
    </form>
    </li>
  {{/stades}}
</ul>

{{#user}}
  <h2 class="text-xl mt-5">Ajouter un Stade</h2>
  <form action="/stade/create" method="POST">
    <input type="text" name="name" placeholder="Nom du stade" required>
    <input type="text" name="location" placeholder="Localisation" required>
    <button type="submit" class="bg-green-500 text-white px-4 py-2">Ajouter</button>
  </form>
{{/user}}
