<head>
  <link href="/css/output.css" rel="stylesheet">
</head>
<nav class="bg-blue-600 text-white p-4 flex justify-between items-center">
    <h1 class="text-xl font-bold">StadeVisor</h1>
    <div class="space-x-4">
        <a href="/" class="px-4 py-2 bg-white text-blue-600 rounded-lg shadow hover:bg-gray-200">Accueil</a>
        <a href="/stades" class="px-4 py-2 bg-white text-blue-600 rounded-lg shadow hover:bg-gray-200">Liste des Stades</a>
        <a href="/reservations" class="px-4 py-2 bg-white text-blue-600 rounded-lg shadow hover:bg-gray-200">Réservations</a>
        <a href="/login" class="px-4 py-2 bg-white text-blue-600 rounded-lg shadow hover:bg-gray-200">Connexion</a>
    </div>
</nav>
{{{body}}} <!-- Affichage du contenu des pages -->

