{{> layout}}

<h1 class="text-2xl font-bold">Mes Réservations</h1>
<ul>
  {{#reservations}}
    <li>
      Stade : <strong>{{name}}</strong> - Date : {{date}} - Heure : {{time}}
    </li>
  {{/reservations}}
</ul>
